* {
    font-family: 'Poppins', sans-serif;
    font-size: normal;
    font-variant: normal;
}

body {
    background-color: rgb(220, 220, 220);
    margin: auto;
}

footer {
    background-color: black;
}

#navbar {
    width: auto;
    height: 135px;
    margin-top: none;
    background-color: black;
    color: white;
    padding: 15px;
}

.banner {
    background-image: url(https://media.istockphoto.com/photos/hand-holding-mobile-phone-on-colorful-yellow-banner-background-picture-id1191133276?k=20&m=1191133276&s=170667a&w=0&h=1QFLMg3dXsfePvv5ccCF4935kN0JTW0b7QA7tUCIBdA=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
}

#banner-text {
    padding: 50px;
}

.container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#main_table {
    width: 100%;
}

#models {
    text-align: center;
}

#test {
    width: 100%;
}

#specs_info {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.specs_title {
    margin: auto;
    width: 10%;
    padding: 30px;
}

#specs_info>#item_specs {
    width: 20%;
    padding: 20px;
}

h1 {
    color: black;
    margin-top: 0px;
    text-align: left;
}

figcaption {
    font-style: italic;
}

table {
    caption-side: top;
    border-color: black;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 1px;
    border-width: 1px;
}

td {
    padding: 5px;
    border: 1px solid black;
}

#submit-row>td {
    border: none;
}

#specs_info>li>ol>li::marker {
    font-weight: bold;
}

#specs_info li {
    list-style-position: inside;
    margin-top: 5px;
}

#list-google {
    list-style-image: url('https://i.imgur.com/6CFzMTs.png');
}

#list-apple {
    list-style-image: url('https://i.imgur.com/wPJ2ttr.png');
}

#list-samsung {
    list-style-image: url('https://i.imgur.com/we3Oyvs.png');
}

#camera-specs ol {
    list-style: decimal;
}

#s21-img {
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 20px;
}

caption {
    margin-bottom: 5px;
}

#model-submit {
    margin-top: 10px;
}

input[type=text],
input[type=number] {
    width: 160px;
}

#reviews {
    columns: 2;
    /* ask TA what this does */
    orphans: 2;
    widows: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#reviews>div {
    width: 30%;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 60px;
}

#team-figure {
    margin: 0px;
    margin-right: 20px;
    width: 50%;
}

#team-figure>img {
    height: 200px;
}

#team {
    display: flex;
}

#footer_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer_box>div {
    margin: 20px;
    width: 30%;
    color: white;
}

@media print {
    h1 {
        page-break-before: always;
    }
    footer {
        page-break-after: always;
    }
}