*{
    font-family: 'Poppins', sans-serif;
    font-size: normal;
    font-variant: normal;
    font-style: normal;

}


.container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav {
    background-color: red;
}

section {
    width: 500px;
}

h1 {
    color: aqua;
    text-align: center;
}

#slogan {
    text-align: center;
}

table {
    caption-side: top;
    border-color: black;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 1px;
    border-width: 1px;
}

td {
    padding: 5px;
    border: 1px solid black;
}

#camera-specs > li > ol > li::marker {
    font-weight: bold;
}

#camera-specs li {
    list-style-position: inside;
    margin-top: 5px;
}

#list-google {
    list-style-image: url('https://i.imgur.com/6CFzMTs.png');
}

#list-apple {
    list-style-image: url('https://i.imgur.com/wPJ2ttr.png');
}

#list-samsung {
    list-style-image: url('https://i.imgur.com/we3Oyvs.png');
}

#camera-specs ol {
    list-style: decimal;
}

#s21-img {
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 20px;
}

caption {
    margin-bottom: 5px;
}

#model-submit {
    margin-top: 5px;
}